@page "/deletegame/{id}"

@if (game == null)
{
    <p>Loading...</p>
}
else
{
    <AuthorizeView Context="authcon">
        <Authorized>
            <EditForm Model="@game" OnValidSubmit="RemoveGame" Context="formcon">
        <DataAnnotationsValidator />
        <div class="container w-50 mt-5">
            <div class="form-group row mb-3">
                <InputText @bind-Value="@game.Title" type="text" class="form-control" readonly="readonly" />
                <ValidationMessage For="()=>game.Title" />
            </div>
            <div class="form-group row mb-3">
                <InputText @bind-Value="@game.TrailerLink" type="text" class="form-control" readonly="readonly" />
                <ValidationMessage For="()=>game.TrailerLink" />
            </div>
            <div class="form-group row mb-3">
                <InputTextArea @bind-Value="@game.Description" type="text" class="form-control" readonly="readonly" />
                <ValidationMessage For="()=>game.Description" />
            </div>
            <div class="form-group row mb-3">
                <img src="@(@"\images\" + @game.ImagePath)" style="width:100px;height:100px" />
            </div>
            <div class="form-group row">
                <input class="btn btn-primary me-3 w-25" type="submit" value="Delete" />
                <input class="btn btn-success w-25" value="Back" @onclick="@(()=>_navManager.NavigateTo("/gameslist"))" />
            </div>
        </div>
    </EditForm>
        </Authorized>
    </AuthorizeView>
}